<launch>

  <arg name="robot" default="firefly_sbx"/>
  <arg name="calibration_file"
    default="$(find msckf_vio)/config/camchain-imucam-euroc.yaml"/>

  <!-- Pose Graph Nodelet  -->
  <group ns="$(arg robot)">
    <node pkg="nodelet" type="nodelet" name="pose_graph"
      args="standalone msckf_vio/PoseGraphNodelet"
      output="screen">

      <rosparam command="load" file="$(arg calibration_file)"/>
      <param name="visualization_shift_x" type="int" value="0" />
      <param name="visualization_shift_y" type="int" value="0" />
      <param name="skip_cnt" type="int" value="0" />
      <param name="skip_dis" type="double" value="0" />


    </node>
  </group>

</launch>
